/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: red;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

header img {
    height: 50px;
    vertical-align: middle;
}

/* Navigation styles */
nav {
    background-color: black;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    color: white;
    background-color: red;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: darkred;
    color: black;
}

/* Main content styles */
main {
    padding: 20px;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid white;
}

th, td {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid white;
}

thead {
    background-color: red;
    color: white;
}

tr:hover {
    background-color: #333;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        width: 100%; /* Full width links for easier touch interaction */
        text-align: center;
    }

    .slideshow-container img {
        width: 100%;
        height: auto;
    }

    table, .gallery-container {
        grid-template-columns: 1fr; /* Adjust grid for smaller screens */
    }

    .gallery-image {
        max-width: 100%;
    }

    header img {
        height: 40px;
    }

    main, footer {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 18px; /* Smaller font size for header on very small screens */
    }

    nav ul li a {
        padding: 8px;
    }

    table {
        font-size: 12px; /* Smaller font for tables on very small screens */
    }

    th, td {
        padding: 6px;
    }

    main, footer {
        font-size: 14px;
    }
}
