body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: black;
    color: white;
}

header {
    background-color: red;
    padding: 20px;
}

main {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Use viewport height to ensure it fills the screen */
}

.option-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.option {
    background-color: #444;
    color: white;
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.option:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}

.t20 {
    background-color: #0056b3; /* Thematic blue for T20 */
}

.overs35 {
    background-color: #008037; /* Thematic green for 35 Overs */
}

footer {
    background-color: red;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
